{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container" id="hello">
  <h1>Hello!</h1>

  <p>Thanks for visiting. I'm Audrey (she/her/hers), a web developer and data storyteller based in the Bay Area.
  </p>
  <p>
    <a href="https://www.linkedin.com/in/adebruine/">LinkedIn</a> |
    <a href="https://github.com/adebruine">Github</a> |
    <a href="https://observablehq.com/@adebruine">Observable<a/>
  </p>
</div>

<div class="container" id="projects">
  <h1>Selected projects</h1>
  <div class="row">
    {% for project in object_list %}
      <div class="col-md-6 col-lg-6 col-xl-4" id="col-card">
          <div class="card mw100">
              <img class="card-img-top" src="{% static project.image %}">
              <div class="card-body">
                  <h5 class="card-title">{{ project.title }}</h5>
                  <p class="card-text">{{ project.description }}</p>
                  {% if project.read_more %}
                    <a href="{% url 'project_detail' project.pk %}"
                       class="btn btn-primary">
                        Read More
                    </a>
                  {% endif %}
                  <a href="{{ project.url }}" target="_blank">
                    <p>Go to project &#x2192;</p></a>
              </div>
          </div>
      </div>
    {% endfor %}

  </div>
</div>

  <div class="container" id="about">

    <h1>About me</h1>
    <p>Previously, I did design, development and data viz for projects at the San Francisco Chronicle.</p>
    <p>
    I received my bachelor's degree from Northwestern University in 2019 where I double majored in journalism and statistics. I practiced reporting, researching, and story telling while learning the fundamentals of statistical methods, data analysis and visualization.
    </p>

    <ul>
      <li>On my bookshelf: NK Jemisin's <a href="http://nkjemisin.com/series/the-broken-earth/">Broken Earth trilogy</a></li>
      <li>In my headphones: <a href="https://blowback.show/">Blowback</a>, a podcast about the Iraq War; <a href="https://phoebebridgers.bandcamp.com/album/punisher">Punisher</a> by Phoebe Bridgers</li>
      <li>On my mind: the <a href="http://www.michaelrakowitz.com/the-invisible-enemy-should-not-exist-lamassu-of-nineveh">work</a> of artist Michael Rakowitz</li>
    </ul>

    <p>If you feel like it, drop me a line at audrey [dot] debruine [at] gmail [dot] com.</p>
  </div>

  {% endblock %}
